

body{
    text-align: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.container{
    height: 100%;
    margin-top: 700px;
    margin-bottom: 150px;
    font-size: 30px;
}

@media screen and (max-width: 640px) {
    .container{
        font-size: 18px;
        margin-bottom: 200px;
    }
}

.row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.box{
    height: 140px;
    width: 140px;
    border: 2px solid #000;
    text-align: center;
    margin: 10px;
}

.logo{
    width: 90%;
    height: 80%;
    margin: 0;
    padding: 0;
}

.star{
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.star-filled{
    color: yellow;
    fill: yellow;
}

