

body{
    text-align: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.container{
    height: 500px;
    margin-top: 700px;
    font-size: 30px;
}

@media screen and (max-width: 640px) {
    .container{
        font-size: 18px;
    }
}

.row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.box{
    height: 140px;
    width: 140px;
    border: 2px solid #000;
    text-align: center;
    margin: 5px;
}

.logo{
    width: 90%;
    height: 80%;
    margin: 0;
    padding: 0;
}

.star{
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.star-filled{
    color: yellow;
    fill: yellow;
}

.btn {
    background: #3476d9;
    background-image: -webkit-linear-gradient(top, #3476d9, #2b5ab8);
    background-image: -moz-linear-gradient(top, #3476d9, #2b5ab8);
    background-image: -ms-linear-gradient(top, #3476d9, #2b5ab8);
    background-image: -o-linear-gradient(top, #3476d9, #2b5ab8);
    background-image: linear-gradient(to bottom, #3476d9, #2b5ab8);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3c83fc;
    background-image: -webkit-linear-gradient(top, #3c83fc, #3479d9);
    background-image: -moz-linear-gradient(top, #3c83fc, #3479d9);
    background-image: -ms-linear-gradient(top, #3c83fc, #3479d9);
    background-image: -o-linear-gradient(top, #3c83fc, #3479d9);
    background-image: linear-gradient(to bottom, #3c83fc, #3479d9);
    text-decoration: none;
  }
